[shodan]
# obtain API key from https://www.shodan.io/ and insert below
api_key = 

[censys]
# obtain API UID and key from https://censys.io/ and insert below
api_uid = 
api_key = 

[hunter]
# obtain API key from https://hunter.io/ and insert below
api_url = https://api.hunter.io/v2/domain-search
api_key = 

[securitytrails]
# obtain API key from https://securitytrails.com/ and insert below
api_url = https://api.securitytrails.com/v1/domain/
api_key = 

[haveibeenpwned]
# obtain API key from https://haveibeenpwned.com/ and insert below
api_breachedaccount_url = https://haveibeenpwned.com/api/v3/breachedaccount
api_pasteaccount_url = https://haveibeenpwned.com/api/v3/pasteaccount
api_key = 

[builtwith]
# obtain API key from https://builtwith.com/ and insert below
api_url = https://api.builtwith.com/rv1/api.json
api_key = 

[virustotal]
# obtain API key from https://www.virustotal.com/ and insert below
api_domain_url = https://www.virustotal.com/vtapi/v2/domain/report
api_key = 

[certspotter]
# obtain API key from https://sslmate.com/signup?for=certspotter_api and insert below
api_url = https://api.certspotter.com/v1/issuances

[host.io]
# obtain API key from https://host.io/ and insert below
api_url = https://host.io/api/full
api_limit = 250
api_key = 

[burpsuiteprofessional]
# start Burp Suite Professional, setup API and insert config below
resource_pool = Default resource pool
scan_named_configuration = Audit coverage - thorough
api_version = v0.1
# Service URL (e.g., http://127.0.0.1:1337)
api_url =
# The API Key
api_key =

[http-proxy]
# for debugging purposes only
proxy_ip = 
proxy_port = 
