[general]
user_agent_string = Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:59.0) Gecko/20100101 Firefox/59.0
default_dns_server = 8.8.8.8

[file_paths]
enum4linux = /usr/bin/enum4linux
gobuster = /usr/bin/gobuster
medusa = /usr/bin/medusa
hydra = /usr/bin/hydra
nikto = /usr/bin/nikto
eyewitness = /usr/bin/eyewitness
showmount = /sbin/showmount
onesixtyone = /usr/bin/onesixtyone
snmpwalk = /usr/bin/snmpwalk
snmpcheck = /usr/bin/snmp-check
nmap = /usr/bin/nmap
smtpuserenum = /usr/bin/smtp-user-enum
smbclient = /usr/bin/pth-smbclient
dotdotpwn = /usr/sbin/dotdotpwn
smbmap = /usr/bin/smbmap
host = /usr/bin/host
dnsrecon = /usr/bin/dnsrecon
dnsenum = /usr/bin/dnsenum
nbtscan = /usr/bin/nbtscan
customcollector =
sqlmap = /usr/bin/sqlmap
msfconsole = /usr/bin/msfconsole
ikescan = /usr/bin/ike-scan
finger = /usr/bin/finger
rpcinfo = /usr/sbin/rpcinfo
dig = /usr/bin/dig
vncviewer = /usr/bin/vncviewer
rdesktop = /usr/bin/rdesktop
sidguess = /usr/bin/sidguess
ntpdate = /usr/sbin/ntpdate
openssl = /usr/bin/openssl
rpcclient = /usr/bin/rpcclient
ldapsearch = /usr/bin/ldapsearch
wpscan = /usr/bin/wpscan
tcptraceroute = /usr/bin/tcptraceroute
whois = /usr/bin/whois
theharvester = /usr/bin/theHarvester
ping = /bin/ping
slurp = /home/kali/go/bin/slurp
ntpq = /usr/bin/ntpq
python3 = /usr/bin/python3
davtest = /usr/bin/davtest
whatweb = /usr/bin/whatweb
curl = /usr/bin/curl
sslyze = /usr/bin/sslyze
sslscan = /usr/bin/sslscan
kisimport = {script_home}/kismanage.py
sublist3r = /usr/bin/sublist3r
metagoofil = /usr/bin/metagoofil
arachni = /usr/bin/arachni
wapiti = /usr/bin/wapiti
changeme = /usr/bin/changeme
proxychains = /usr/bin/proxychains
masscan = /usr/bin/masscan
crackmapexec = /usr/bin/crackmapexec

[default_wordlists]
gobuster_dir = {repo_home}/SecLists/Discovery/Web-Content/raft-small-directories.txt
gobuster_dns = {repo_home}/SecLists/Discovery/DNS/subdomains-top1million-5000.txt
slurp_permutations_file = /home/kali/go/src/github.com/0xbharath/slurp/permutations.json
ftp_default_credentials = /usr/share/legion/wordlists/ftp-betterdefaultpasslist.txt
mssql_default_credentials = /usr/share/legion/wordlists/mssql-betterdefaultpasslist.txt
mysql_default_credentials = /usr/share/legion/wordlists/mysql-betterdefaultpasslist.txt
pgsql_default_credentials = /usr/share/legion/wordlists/postgres-betterdefaultpasslist.txt
snmp_default_credentials = /usr/share/legion/wordlists/snmp-default.txt
apache_tomcat_default_users = /usr/share/metasploit-framework/data/wordlists/tomcat_mgr_default_users.txt
apache_tomcat_default_passwords = /usr/share/metasploit-framework/data/wordlists/tomcat_mgr_default_pass.txt
sidguess_default = /usr/share/metasploit-framework/data/wordlists/sid.txt
http_default_users = /usr/share/metasploit-framework/data/wordlists/http_default_users.txt
http_default_passwords = /usr/share/metasploit-framework/data/wordlists/http_default_pass.txt

[company]
# Core method BaseUtils.add_company only adds companies with a name that ends with one of the following words
# (case insensitive). The reason for this filter is to ensure a certain quality level. Update if you have additional
# legal entity names
entities = ["ltd", "llc", "limited", "corporation", "ab", "inc.", "inc", "lp", "sa", "ag", "gmbh", "international", "b.v."]

[http]
# Core method BaseUtils.add_url does not add files that have one of the following file extensions. If such files are
# specified, then BaseUtils.add_url removes the filename and just adds the path
irrelevant_files = ["js", "ico", "css", "jpg", "jpeg", "woff", "png", "woff2"]

[eyewitness]
proxy_ip = 
proxy_port = 
