[general]
environment_wordlist = {"Development": ["^d[-\\.].*$", "^dev[-\\.].*$", "^devel[-\\.].*$", "^development[-\\.].*$", "^.+[-\\.]d[-\\.].+$", "^.+[-\\.]dev[-\\.].+$", "^.+[-\\.]devel[-\\.].+$", "^.+[-\\.]development[-\\.].+$"],
    "Quality": ["^q[-\\.].*$", "^qa[-\\.].*$", "^qual[-\\.].*$", "^quality[-\\.].*$", "^.+[-\\.]q[-\\.].+$", "^.+[-\\.]qa[-\\.].+$", "^.+[-\\.]qual[-\\.].+$", "^.+[-\\.]quality[-\\.].+$"],
    "Staging": ["^s[-\\.].*$", "^stg[-\\.].*$", "^staging[-\\.].*$", "^.+[-\\.]s[-\\.].+$", "^.+[-\\.]stg[-\\.].+$", "^.+[-\\.]staging[-\\.].+$"],
    "Integration": ["^i[-\\.].*$", "^int[-\\.].*$", "^integration[-\\.].*$", "^.+[-\\.]i[-\\.].+$", "^.+[-\\.]int[-\\.].+$", "^.+[-\\.]integration[-\\.].+$"],
    "Test": ["^t[-\\.].*$", "^test[-\\.].*$", "^.+[-\\.]t[-\\.].+$", "^.+[-\\.]test[-\\.].+$"],
    "User Acceptance": ["^uat[-\\.].*$", "^.+[-\\.]uat[-\\.].+$"],
    "Pre-Production": ["^pre[-\\.].*$", "^pre-?release[-\\.].*$", "^pre-?live[-\\.].*$", "^.+[-\\.]pre[-\\.].+$", "^.+[-\\.]pre-?release[-\\.].+$", "^.+[-\\.]pre-?live[-\\.].+$"]}